<form method="post" action="{{ path('promo_crud_delete', {'id': promo.id}) }}" onsubmit="return confirm('Êtes-vous sûrs de vouloir supprimer cette Promotion ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ promo.id) }}">
    <button class="btn">Delete</button>
</form>
