{{ form_start(form) }}
<style>
    .formBlock{ margin: 25px 0; }
    .date select, .apprenants form{ display: inline; }
</style>

    <div class="date formBlock">
        Date de début de Promo

        {{form_errors(form.startyear)}}
        {{form_widget(form.startyear)}}
        {{form_help(form.startyear)}}
    </div>

    <div class="date formBlock">
        Date de fin de Promo

        {{form_errors(form.endyear)}}
        {{form_widget(form.endyear)}}
        {{form_help(form.endyear)}}
    </div>

    <div class="formBlock">
        Nom de la promo

        {{form_errors(form.name)}}
        {{form_widget(form.name)}}
        {{form_help(form.name)}}
    </div>

    <div class="formBlock">
        Choix de la formation suivie par la Promo

        {{form_errors(form.formation)}}
        {{form_widget(form.formation)}}
        {{form_help(form.formation)}}
    </div>

    <div class="formBlock apprenants">
        <p>Choix des Apprenants</p>
        
            {% for user in form.users.children %}
                {{form_widget(user)}}
                
                <a target="_blank" href="{{ path('user_crud_show', {'id': user.vars.value}) }}">{{user.vars.label}}</a> 
            <br/>
            {% endfor %}
    </div>
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
