{% extends 'base.html.twig' %}

{% block title %}Edit Promo{% endblock %}

{% block body %}

    <h1>Edit Promo</h1>


 {{ include('promo_crud/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('promo_crud_index') }}"><button>Retour à la liste</button></a>

    {{ include('promo_crud/_delete_form.html.twig') }}

{% endblock %}