{% extends 'base.html.twig' %}

{% block title %}Promo index{% endblock %}

{% block body %}
    <h1>Promos</h1>

   

    <a href="{{ path('promo_crud_new') }}"><button>Créer une nouvelle Promo</button></a>

    <pre>
    {{form(filters)}}
    </pre>

    {% if filterParams["seeAllInit"] == true %}
        <h2>Toutes les promos</h2>
    {% else %}
        <h2>Mes Promos</h2>
    {% endif %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Promo</th>
                <th>Formation</th>
                <th>Début d'année</th>
                <th>Fin d'année</th>
            </tr>
        </thead>
        <tbody>
        {% for promo in promos %}
            <tr>
                <td>{{ promo.id }}</td>
                <td>{{ promo.name }}</td>
                <td>{{ promo.formation.name }}</td>
                <td>{{ promo.startyear|date('Y-m-d') }}</td>
                <td>{{ promo.endyear|date('Y-m-d') }}</td>
                <td colspan="2">
                    <a href="{{ path('promo_crud_show', {'id': promo.id}) }}"><button>show</button></a>
                    {# {% if is_granted('edit',promo) %} #}
                    <a href="{{ path('promo_crud_edit', {'id': promo.id}) }}"><button>edit</button></a>
                    {# {% endif %} #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Pas de promos visibles !</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        {{ knp_pagination_render(promos, '', filterParams) }}

{% endblock %}




