{% extends 'base.html.twig' %}

{% block title %}New Promo{% endblock %}

{% block body %}

    <h1>Create new Promo</h1>


 {{ include('promo_crud/_form.html.twig', {'button_label': 'Créer'}) }}

    <a href="{{ path('promo_crud_index') }}"><button>Retour à la liste</button></a>



{% endblock %}