{% extends 'base.html.twig' %}


{% block title %}Promo{% endblock %}

{% block body %}
    <h1>Promo n° {{ promo.id }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom de la promo</th>
                <td>{{ promo.name }}</td>
            </tr>
            <tr>
                <th>Formation</th>
                <td>{{promo.formation.name}}</td>
            </tr>
            <tr>
                <th>Début de la promo</th>
                <td>{{ promo.startyear ? promo.startyear|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Fin de la promo</th>
                <td>{{ promo.endyear ? promo.endyear|date('Y-m-d') : '' }}</td>
            </tr>
    <tr>
                <th> Responsable(s) </th>
                <td> {% for user in promo.users %}
                    {% if user.roles[0] == "ROLE_RESPONSABLE" %}
                        <a target="_blank" href="{{ path('user_crud_show', {'id': user.id}) }}"><p> {{user.firstname}} {{user.lastname}}</p> </a>
                    {% endif %}
                {% endfor %}
    </tr>    
    <tr>
                <th> Formateur(s) </th>
                <td> {% for user in promo.users %}
                    {% if user.roles[0] == "ROLE_FORMATEUR" %}
                        <a target="_blank" href="{{ path('user_crud_show', {'id': user.id}) }}"><p> {{user.firstname}} {{user.lastname}}</p> </a>
                    {% endif %}
                {% endfor %}
    </tr>
    <tr>    
                <th> Apprenants </th>
                <td> {% for user in promo.users %}
                    {% if user.roles[0] == "ROLE_APPRENANT" %}
                        <a target="_blank" href="{{ path('user_crud_show', {'id': user.id}) }}"><p> {{user.firstname}} {{user.lastname}}</p> </a>
                    {% endif %}
                {% endfor %}
    </tr>
                
                 </td>
        </tbody>
    </table>

    <a href="{{ path('promo_crud_index') }}"><button>Retour à la liste</button></a>
    
{% if is_granted('edit',promo) %}
    <a href="{{ path('promo_crud_edit', {'id': promo.id}) }}"><button>edit</button></a>

    {{ include('promo_crud/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
