{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}
    <h1 class="h3 mb-3 font-weight-normal">Créer son compte</h1>
   
    {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}

    
{% endblock %}
