{% extends 'base.html.twig' %}

{% block title %}Dashboard Responsable{% endblock %}

{% block body %}
<h1>Responsable</h1>

<a href="{{ path('promo_crud_index')}}"><button>Voir les Promos</button></a>
<a href="{{ path('formation_crud_index')}}"><button>Voir les Formations</button></a>
<br>
<a href="{{ path('user_crud_index')}}"><button>Voir les Utilisateurs</button></a>
<a href="{{ path('timeslot_index') }}"><button>Voir les créneaux des cours</button></a>


{% endblock %}
