{% extends 'base.html.twig' %}
{% block body %}
  
  {{form_start(form)}}
  {% for message in app.flashes('error') %}
    </br>
    <p>
          {{ message }}
    </p>
  {% endfor %}

  {{form_row(form.code)}}
  <button type="submit">Valider le Code</button>

  {{form_end(form)}}
{% endblock body %}

  