
{% if app.user %}
<h2>{{ app.user }} est connecté </h2>
<a href="{{ path('dashboard') }}"> <button>Dashboard</button></a>
<a href="{{ path('app_logout')}}"><button>Déconnexion</button></a>
{% else %}
<div>Veuillez vous connecter !</div>
<a href="{{ path('login') }}"><button>Connexion</button></a>

 {% endif %}
<hr>

