{% extends 'base.html.twig' %}

{% block title %}Editer la Formation{% endblock %}

{% block body %}
    <h1>Editer la Formation</h1>

    {{ include('formation_crud/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('formation_crud_index') }}"><button>retour à la liste</button></a>

    {{ include('formation_crud/_delete_form.html.twig') }}
{% endblock %}
