{% extends 'base.html.twig' %}

{% block title %}Formation index{% endblock %}

{% block body %}
    <h1>Formation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for formation in formations %}
            <tr>
                <td>{{ formation.id }}</td>
                <td>{{ formation.name }}</td>
                <td>
                    <a href="{{ path('formation_crud_show', {'id': formation.id}) }}"><button>voir</button></a>
                    <a href="{{ path('formation_crud_edit', {'id': formation.id}) }}"><button>editer</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">aucune formation</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('formation_crud_new') }}"><button>nouvelle formation</button></a>
{% endblock %}
