{% extends 'base.html.twig' %}

{% block title %}Nouvelle Formation{% endblock %}

{% block body %}
    <h1>Créer une Formation</h1>

    {{ include('formation_crud/_form.html.twig') }}

    <a href="{{ path('formation_crud_index') }}"><button>retour à la liste</button></a>
{% endblock %}
