{% extends 'base.html.twig' %}

{% block title %}Formation{% endblock %}

{% block body %}
    <h1>Formation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ formation.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ formation.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('formation_crud_index') }}"><button>retour à la liste</button></a>

    <a href="{{ path('formation_crud_edit', {'id': formation.id}) }}"><button>editer</button></a>

    {{ include('formation_crud/_delete_form.html.twig') }}
{% endblock %}
