<form method="post" action="{{ path('timeslot_delete', {'id': timeslot.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ timeslot.id) }}">
    <button class="btn">Delete</button>
</form>
