{% extends 'base.html.twig' %}

{% block title %}Timeslot index{% endblock %}

{% block body %}
    <h1>Timeslot index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Startdate</th>
                <th>Enddate</th>
                <th>Code</th>
                <th>promo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for timeslot in timeslots %}
            <tr>
                <td>{{ timeslot.id }}</td>
                <td>{{ timeslot.startdate ? timeslot.startdate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ timeslot.enddate ? timeslot.enddate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ timeslot.code }}</td>
                 <td>{{ timeslot.promo }}</td>
                <td>
                    <a href="{{ path('timeslot_show', {'id': timeslot.id}) }}"><button>show</button></a>
                    <a href="{{ path('timeslot_edit', {'id': timeslot.id}) }}"><button>edit</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('timeslot_new') }}"><button>Create new</button></a>
{% endblock %}
