{% extends 'base.html.twig' %}

{% block title %}New Timeslot{% endblock %}

{% block body %}
    <h1>Create new Timeslot</h1>

    {{ include('timeslot/_form.html.twig') }}

    <a href="{{ path('timeslot_index') }}"><button>back to list</button></a>
{% endblock %}
