{% extends 'base.html.twig' %}

{% block title %}Timeslot{% endblock %}

{% block body %}
    <h1>Timeslot</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ timeslot.id }}</td>
            </tr>
            <tr>
                <th>Startdate</th>
                <td>{{ timeslot.startdate ? timeslot.startdate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Enddate</th>
                <td>{{ timeslot.enddate ? timeslot.enddate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ timeslot.code }}</td>
            </tr>
            <tr>
                <th>Promo</th>
                <td>{{ timeslot.promo }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('timeslot_index') }}"><button>back to list</button></a>

    <a href="{{ path('timeslot_edit', {'id': timeslot.id}) }}"><button>edit</button></a>

    {{ include('timeslot/_delete_form.html.twig') }}
{% endblock %}
