{% extends 'base.html.twig' %}

{% block title %}Veuillez patienter{% endblock %}

{% block body %}
<h1>Votre compte n'a pas été confirmé par votre Responsable.</h1>
<p>Veuillez le contacter si ce problème n'est pas attendu.</p>
{% endblock %}
