<form method="post" action="{{ path('user_crud_delete', {'id': user.id}) }}" onsubmit="return confirm('Êtes vous sur de vouloir supprimer cet utilisateur');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn">Supprimer l'utilisateur</button>
</form>
