{% extends 'base.html.twig' %}

{% block title %}Modifier l'utilisateur{% endblock %}

{% block body %}
    <h1>Modification de l'utilisateur : {{ user }} </h1>
    
    <a href="{{ path('user_crud_index') }}"><button>Retour à la liste des utilisateurs</button></a>
    
    {{ include('user_crud/_form.html.twig', {'button_label': 'Update'}) }}

    
    {{ include('user_crud/_delete_form.html.twig') }}

{% endblock %}
