{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>Liste des utilisateurs</h1>
    
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Roles</th>
                <th>Promo</th>
                <th>Mail</th>
                <th>Password</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{user.roles|join(', ')}}</td>
                <td>
                {% for promo in user.promos %}
                    {{ promo.name }},
                {% endfor %}
                </td>
                <td>{{ user.mail }}</td>
                <td>{{ "mot de passe" }}</td>
                <td>
                    <a href="{{ path('user_crud_show', {'id': user.id}) }}"><button>VOIR</button></a>
                    <a href="{{ path('user_crud_edit', {'id': user.id}) }}"><button>MODIFIER</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
 
{% endblock %}
