{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>Utilisateur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.lastname }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{user.roles|join(', ')}}</td>
            </tr>
            <tr>
                <th>Promo</th>
                {% for promo in user.promos %}
                <td>{{ promo.name }}</td>
                {% endfor %}
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ user.mail }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_crud_index') }}"><button>back to list</button></a>

    <a href="{{ path('user_crud_edit', {'id': user.id}) }}"><button>edit</button></a>

    {{ include('user_crud/_delete_form.html.twig') }}
{% endblock %}
