{% extends 'base.html.twig' %}

{% block title %}Check Formateur{% endblock %}

{% block body %}

<h1> Cours du {{timeslot.startdate|date('Y-m-d')}} </h1>
<h2>Commencé à {{timeslot.startdate|date('H:i')}} <br/> Terminé à {{timeslot.enddate|date('H:i')}}</h2>
<br><br>



 <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Rôle</th>
                <th>Présence</th>
            </tr>
        </thead>
        <tbody>
        {% if checks is empty %}
        <em>Personne ne s'est déclaré sur ce cours</em>
        {% else %}
            

{% for check in checks %}
            <tr>
                <td>{{ check.firstname }} {{ check.lastname }}</td>
                <td>{% for role in check.roles %}
                {{ role }},
                {% endfor %}
                </td>
                <td><strong>{{check.attendance}}</strong></td>
                <td colspan="3">
                    <a href="" ><button disabled>Signaler présent</button></a>  {# NON FONCTIONNEL #}
                    <a href="" ><button disabled>Signaler absent</button></a>  {# NON FONCTIONNEL #}
                </td>
            </tr>
  
{% endfor %}
{% endif %}
        </tbody>
    </table>

{% endblock %}
