{% extends 'base.html.twig' %}

{% block title %}Dashboard Formateur{% endblock %}

{% block body %}
<h1>Formateur</h1>

<h2>Veuillez sélectionner le cours à valider</h2>

<p>Nous sommes le {{ dateNow|date('Y-m-d') }}<br/>
Il est {{dateNow|date('H : i')}}</p>

{% if timeslot is empty %}

<em>Vous n'avez pas de cours programmés pour maintenant !</em>

{% else %}

{% for slot in timeslot %}
{% if slot.code is empty %}
<h4>Générer le code du cours de la promo {{slot.promo}}</h4>
<a href="{{ path('codeGenerator', {'id': slot.id }) }}"><button>Générer le code</button></a>

{% else %}
    <em>Le code a déjà été généré pour le cours actuel</em>

{% endif %}

<h4>Voir les élèves présents</h4>
<a href="{{ path('formateur_check', {'id': slot.id}) }}"><button>Voir la promo</button></a>
{% endfor %}

{% endif %}


<h2>Vos {{resultNumber}} précédents cours</h2>
 <table>
        <thead>
            <tr>
                <th>Promo</th>
                <th>Jour</th>
                <th>Heure de début</th>
                <th>Heure de fin</th>
            </tr>
        </thead>
        <tbody>
        {% if precedentTimeslots is empty %}
        <em>Vous n'avez pas de cours précedents pour maintenant !</em>
        {% else %}
            

{% for pastSlot in precedentTimeslots %}
            <tr>
                <td>{{ pastSlot.promo }}</td>
                <td>{{ pastSlot.startdate|date('Y-m-d') }}</td>
                <td>{{ pastSlot.startdate|date('H:i') }}</td>
                <td>{{ pastSlot.enddate|date('H:i') }}</td>
                <td colspan="1">
                    <a href="{{path('formateur_check', {'id': pastSlot.id})}} "><button>Voir</button></a>
                </td>
            </tr>
  
{% endfor %}
{% endif %}
        </tbody>
    </table>

{% endblock %}
