{% extends 'base.html.twig' %}
{% block body %}

<p>Nous sommes le {{timeslot.startdate|date('Y-m-d')}}</p>

<p>Le cours commence à {{timeslot.startdate|date('h:i')}} et terminera à {{timeslot.enddate|date('h:i')}}</p>
<p>Le code de ce cours est le : <strong style="font-size:30px">{{timeslot.code}}</strong> </p>
<p>Veuillez l'indiquer à vos apprenants !</p>



{% endblock body %}