{% extends 'base.html.twig' %}

{% block title %}Code Generator{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>timeslot n° {{ timeslot.id }} ✅</h1>
    <h3>venant de la Promo {{timeslot.promo}}</h3>

     <table class="table">
        <tbody>
            <tr>
                <th>Date du créneau </th>
                <td>
                {% set startDate = timeslot.startdate|date('Y-m-d') %}
                {% set endDate = timeslot.enddate|date('Y-m-d') %}
                {% if startDate is same as endDate %}
                    {{startDate}}
                    {% else %}
                    {{startDate}} jusqu'au {{endDate}} 
                {% endif %} 
                </td>
            </tr>

            <tr>
                <th>Début du créneau</th>
                <td>{{timeslot.startdate|date('h:i')}}</td>
            </tr>

            <tr>
                <th>Fin du créneau</th>
                <td>{{timeslot.enddate|date('h:i')}}</td>
            </tr>

        </tbody>
    </table>

{{form_start(form)}}

    <button type="submit" id="btnGenerator">Générer le Code</button>

{{form_end(form)}}


</div>

{% endblock %}
