{% extends 'base.html.twig' %}

{% block title %}Dashboard Apprenant{% endblock %}

{% block body %}
<h1>Dashboard Apprenant</h1>

<h2>Veuillez sélectionner le cours à valider</h2>

<p>Nous sommes le {{ dateNow|date('Y-m-d') }}</p>
<p>il est {{dateNow|date('H:i')}}</p>

{% if timeslot != null %}
{% for ts in timeslot %}
{# RAJOUTER UN IF SI LE USER EST DEJA PRESENT SUR LE CHECK AVEC L'ID ts.id #}
<p>Promotion {{ts.promo}}</p>
  <a href="{{ path('codeValidator', {'id': ts.id}) }}"><button>Valider ce cours</button></a>
{% endfor %}
{% else %}
  <p>Vous n'avez pas de cours à valider !</p>

{% endif %}
{% endblock %}
